{% extends 'layout.html' %}
{% load static %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static "about/img/about-bg.jpg" %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">


      <h1>{{ post.title }}</h1>

      <p>{{ post.content|linebreaks }}</p>

      {% if post.photo %}
      <img src="{{ post.photo.url }}" />
      {% endif %}
      <br />
      <br />

      {% if post.project_file %}
      <embed src="{{ post.project_file.url }}" width="1000" height="1000">

      <br />
      <br />
      <a id="project_file" href="{{ post.project_file.url }}" download>{{ post.project_file }}</a>
      {% endif %}
      <br />
      <br />
      <a href="{% url "blog:post_list" %}" class="btn btn-primary">목록</a>
      <a href="{% url "blog:edit_post" pk=post.id %}" class="btn btn-secondary">수정</a>
      <a href="{% url "blog:delete_post" pk=post.id %}" class="btn btn-danger">삭제</a>

    </div>
  </div>
</div>
{% endblock %}