{% extends "accounts/layout.html" %}

{% block content %}
    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding s-content--narrow">

            <div class="row narrow">
                <div class="col-full s-content__header">
                    <h1 class="display-1 display-1--with-line-sep">{{ user }}'s Profile </h1>
                    <p class="lead">
                            {{ user.profile.bio|default:'empty' }}
                        </p>
                </div>
            </div>
    
           
    
        </section> <!-- end s-content -->

{% endblock %}