{% extends 'layout.html' %}

{% load static %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static "about/img/about-bg.jpg" %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>SODA BLOG</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
    <br>
    <hr>

    <div class="row">
        <aside class="col-sm-4">

        </aside> <!-- col.// -->
        <aside class="col-sm-4">
            <br><br><br><br>
            <form action="" method="post">
                {% csrf_token %}
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title text-center mb-4 mt-1">Sign Up</h4>
                        <hr>
                        <p class="text-success text-center">Fill in the blanks below.</p>

                        <fieldset>

                            <div class="form-group">
                                <input type="text" name="username" id="username" class="form-control input-lg"
                                    placeholder="username">
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password1" id="password1" class="form-control input-lg"
                                    placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password2" id="password2" class="form-control input-lg"
                                    placeholder="Password2">
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    By Clicking register you're agree to our policy & terms
                                </label>
                            </div>

                        </fieldset>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Submit </button>
                        </div> <!-- form-group// -->



                    </article>
                </div> <!-- card.// -->
            </form>
        </aside> <!-- col.// -->
    </div> <!-- row.// -->

</div>
<!--container end.//-->

<br><br><br>

{% endblock %}