{% extends 'blog/layout.html' %}
{% load static %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static "about/img/about-bg.jpg" %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      
     <form actions="" method="post" enctype="multiport/form-data" autocomplete="off">
        {% csrf_token %}
        <table class="table table-bordered">
            {{ form.as_table }}
        </table> 
        <input type="submit" value="저장하기" class="btn btn-primary" />
        <a href="{% url "blog:post_list" %}" class="btn btn-secondary">목록으로</a>   
    </form>
    </div>
  </div>
</div>
{% endblock %}