{% extends "main/layout.html" %}
{% load static %}


{% block content %}
<!-- s-content
    ================================================== -->
<section class="s-content s-content--top-padding">

    <div class="row narrow">
        <div class="col-full s-content__header" data-aos="fade-up">
            <h1 class="display-1 display-1--with-line-sep">Project</h1>
            <p class="lead"></p>
        </div>
    </div>
    <div class="row entries-wrap add-top-padding wide">
        <div class="entries">

            {% for post in post_list%}
            <article class="col-block">

                
                <div class="item-entry" data-aos="zoom-in">
                    <div class="item-entry__thumb">
                        <a href="{% url 'blog:post_detail' post.pk  %}" class="item-entry__thumb-link">
                            {% if post.photo %}
                            <img src="{{ post.photo.url }}"
                                srcset="{{ post.photo.url }} 1x, {{ post.photo.url }} 2x" width="400" height="450"
                                alt="">
                            {% else %}
                            <img src="{% static 'images/default.jpg' %}"
                                srcset="{% static 'images/default.jpg' %} 1x, {% static 'images/default.jpg' %} 2x" width="400" height="450"
                                alt="">
                            {% endif %}
                        </a>
                    </div>

                    <div class="item-entry__text">
                        <div class="item-entry__cat">
                            <a href="category.html">Project</a>
                        </div>

                        <h1 class="item-entry__title"><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
                        </h1>

                        <div class="item-entry__date">
                            <a href="{% url 'blog:post_detail' post.pk %}">{{ post.created_at }}</a>
                        </div>
                    </div>
                </div> <!-- item-entry -->

            </article> <!-- end article -->

            {% endfor %}



        </div> <!-- end entries -->
    </div> <!-- end entries-wrap -->

    {% if is_paginated %}
    <div class="row pagination-wrap">
            <div class="col-full">
    <nav class="pgn" data-aos="fade-up">
            <div class="clearfix">
                    <a class="btn btn--primary pull-right" href="{% url "blog:new_post" %}">New Post</a>
            </div>
        <ul class="pagination justify-content-center pagination-sm">
            
            {% if page_obj.has_previous %}
            <!-- If it ain't a search result display, don't append the search query
                     to the URL. -->
            {% if not search %}
            <li class="page-item">
                <a class="pgn__prev" href="{% url 'blog:post_list' %}?page={{ page_obj.previous_page_number }}"
                    tabindex="-1">Prev</a>
            </li>
            {% else %}
            <!-- Append the searched query to the URL, so that on a search results page,
                     the pagination don't revert to listing all the listview items. -->
            <li class="page-item">
                <a class="pgn__prev"
                    href="{% url 'blog:post_list' %}?{{search}}&page={{ page_obj.previous_page_number }}"
                    tabindex="-1">Prev</a>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item disabled">
                <a class="pgn__prev" href="#" tabindex="-1">Prev</a>
            </li>
            {% endif %}
            {% for object in page_obj.paginator.page_range %}
            <li class="page-item"><a class="pgn__num"
                    href="{% url 'blog:post_list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            {% if not search %}
            <li class="page-item">
                <a class="pgn__next" href="{% url 'blog:post_list' %}?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="pgn__next"
                    href="{% url 'blog:post_list' %}?{{search}}&page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item disabled">
                <a class="pgn__next" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    
</div>
</div>
    {% endif %}
    

    <!-- <div class="row pagination-wrap">
        <div class="col-full">
            <nav class="pgn" data-aos="fade-up">
                <ul>
                    <li><a class="pgn__prev" href="#0">Prev</a></li>
                    <li><a class="pgn__num" href="#0">1</a></li>
                    <li><span class="pgn__num current">2</span></li>
                    <li><a class="pgn__num" href="#0">3</a></li>
                    <li><a class="pgn__num" href="#0">4</a></li>
                    <li><a class="pgn__num" href="#0">5</a></li>
                    <li><span class="pgn__num dots">…</span></li>
                    <li><a class="pgn__num" href="#0">8</a></li>
                    <li><a class="pgn__next" href="#0">Next</a></li>
                </ul>
            </nav>
        </div>
    </div> -->

</section> <!-- end s-content -->


<!-- s-extra
    ================================================== -->

{% endblock %}